
<div style="margin-top: -105px">


    <div class="row justify-content-md-center text-center columnStack">
        <div class="col col-3 bg-white hability" style="border-radius: 20px 0 0 20px; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-code-slash"></i>
            <h3>Software FullStack</h3>
            <p>
                Webb & App
            </p>

            <p class="text-primary cabecera">
                Stack:
            </p>

            <ul>
                <li>C#</li>
                <li>ASP.NET</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>FireBase</li>
                <li>SQL Server</li>
                <li>Azure App Service</li>
            </ul>

        </div>

        <div class="col col-3 bg-white hability" style="border-radius: 0 20px 20px 0; box-shadow: 0 5px 5px 0 gray">

            <i class="bi bi-cpu"></i>
            <h3>Hardware</h3>
            <p>
                Microcontrollers & ECAD
            </p>
            <p class="text-primary cabecera">
                Stack:
            </p>

            <ul>
                <li>C/C++</li>
                <li>Python</li>
                <li>Altium Designer</li>
                <li>Fusion 360</li>
                <li>PCBA</li>
                <li>CNC</li>
            </ul>


        </div>

    </div>
</div>