
@{
    ViewData["Tittle"] = "Thanks";

}

<div class="text-center home">
    <h1 class="display-4"></h1>

    <h2>I will respond as soon as possible.</h2>
    <button class="btn btn-info mb-3 asp" ><a asp-action="Index" asp-controller="Home">Back</a></button>

</div>

<div class="row justify-content-center text-center bg-info ">
    <div class="col col-md-5 seccion-bienvenida">
        <h1>Thank you for contacting me</h1>
        <p>
            Your form has been sent, I thank you for taking me into account for future projects. I want you to keep in mind that every day I am in continuous improvement to be able to offer a reliable result.
        </p>
    </div>
</div>